{{- if .Values.config.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-rc
  namespace: {{ .Release.Namespace }}
data:
  msmtprc-ini: |
    {{ .Values.config.msmtprc_ini | indent 4 }}
  msmtprc: |
    {{ .Values.config.msmtprc | indent 4 }}
  install.php: |
    {{ .Values.config.install_php | indent 4 }}
  info.php: |
    {{ .Values.config.info_php | indent 4 }}
  database.php: |
    {{ .Values.config.database_php | indent 4 }}
{{- end }}
