apiVersion: v1
kind: Secret
metadata:
  name: mariadb-secret
  namespace: default
type: Opaque
data:
  username: cmVkY2FwX3VzZXI= # echo -n "redcap_user" | base64
  password: cGFzc3dvcmQ=  # echo -n "password" | base64